<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" >
	<Appenders>
		<Console name="Console">
			<Layout type="PatternLayout">
				<Pattern>%d{HH:mm:ss.SSS} %-5p - %msg%n</Pattern>
			</Layout>
		</Console>
		<RollingFile name="File" fileName="VideoConverter.log" filePattern="VideoConverter.%d{yyyy-MM-dd}.gz"
			ignoreExceptions="false">
			<Layout type="PatternLayout">
				<Pattern>%d{HH:mm:ss.SSS} %-5p - %msg%n</Pattern>
			</Layout>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="de.linesofcode" level="TRACE"/>

		<Root level="INFO">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</Root>
	</Loggers>
</Configuration>